### DACON(데이콘) 데이콘 Basic 자동차 가격 예측 AI 경진대회

##### 데이터 전처리

In [2]:
import pandas as pd

In [4]:
train_df = pd.read_csv('data//train.csv')
train_df.head(5)

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55

In [5]:
test_df = pd.read_csv('data//test.csv')
test_df.head(5)

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG)
0,TEST_00000,2017,2013,mazda,3,KAL,WIE,57000,1998,0,0,1,0,0
1,TEST_00001,2011,2008,ford,fiesta,ROP,POD,159000,1242,0,0,1,0,0
2,TEST_00002,2019,2017,volkswagen,polo,LOD,LOD,11284,999,0,0,1,0,0
3,TEST_00003,2021,2016,renault,megane,JAW,SLA,9,1332,0,0,1,0,0
4,TEST_00004,2010,2011,volvo,v60,WEJ,POM,270000,1999,0,0,1,0,0

In [6]:
train_df.isna().sum()

ID             0
생산년도           0
모델출시년도         0
브랜드            0
차량모델명          0
판매도시           0
판매구역           0
주행거리           0
배기량            0
압축천연가스(CNG)    0
경유             0
가솔린            0
하이브리드          0
액화석유가스(LPG)    0
가격             0
dtype: int64

In [7]:
test_df.isna().sum()

ID             0
생산년도           0
모델출시년도         0
브랜드            0
차량모델명          0
판매도시           0
판매구역           0
주행거리           0
배기량            0
압축천연가스(CNG)    0
경유             0
가솔린            0
하이브리드          0
액화석유가스(LPG)    0
dtype: int64

In [8]:
train_df.dtypes

ID              object
생산년도             int64
모델출시년도           int64
브랜드             object
차량모델명           object
판매도시            object
판매구역            object
주행거리             int64
배기량              int64
압축천연가스(CNG)      int64
경유               int64
가솔린              int64
하이브리드            int64
액화석유가스(LPG)      int64
가격             float64
dtype: object

In [9]:
test_df.dtypes

ID             object
생산년도            int64
모델출시년도          int64
브랜드            object
차량모델명          object
판매도시           object
판매구역           object
주행거리            int64
배기량             int64
압축천연가스(CNG)     int64
경유              int64
가솔린             int64
하이브리드           int64
액화석유가스(LPG)     int64
dtype: object

In [13]:
df = pd.concat([train_df+test_df])
len(df)

57920

In [15]:
(len(train_df) + len(test_df)) == len(df)

False

In [16]:
len(train_df) , len(test_df)

(57920, 14480)