### DACON(데이콘) 데이콘 Basic 자동차 가격 예측 AI 경진대회

##### 데이터 전처리

In [83]:
import pandas as pd

# train.csv에서 split 하여 모델링
# test.csv는 데이콘 채첨 데이터

df = pd.read_csv('data//train.csv')
df.describe()

,생산년도,모델출시년도,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
count,57920.000000,57920.000000,5.792000e+04,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000
mean,2011.355352,2008.033408,1.678691e+05,1788.160135,0.000483,0.425242,0.517956,0.010290,0.046029,52.211752
std,5.174108,5.087963,8.319120e+04,545.413818,0.021982,0.494384,0.499682,0.100918,0.209550,35.399718
min,1978.000000,1983.000000,1.000000e+00,875.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.170000
25%,2008.000000,2004.000000,1.114345e+05,1461.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.570000
50%,2011.000000,2008.000000,1.710000e+05,1753.000000,0.000000,0.000000,1.000000,0.000000,0.000000,42.250000
75%,2016.000000,2012.000000,2.200000e+05,1995.000000,0.000000,1.000000,1.000000,0.000000,0.000000,73.970000
max,2022.000000,2021.000000,2.500000e+06,6300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,156.000000

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57920 entries, 0 to 57919
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           57920 non-null  object
 1   생산년도         57920 non-null  int64
 2   모델출시년도       57920 non-null  int64
 3   브랜드          57920 non-null  object
 4   차량모델명        57920 non-null  object
 5   판매도시         57920 non-null  object
 6   판매구역         57920 non-null  object
 7   주행거리         57920 non-null  int64
 8   배기량          57920 non-null  int64
 9   압축천연가스(CNG)  57920 non-null  int64
 10  경유           57920 non-null  int64
 11  가솔린          57920 non-null  int64
 12  하이브리드        57920 non-null  int64
 13  액화석유가스(LPG)  57920 non-null  int64
 14  가격           57920 non-null  float64
dtypes: float64(1), int64(9), object(5)
memory usage: 6.6+ MB

In [85]:
df.sample(20)

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
17960,TRAIN_17960,2009,2008,ford,kuga,DEB,POD,204364,1997,0,1,0,0,0,44.07
8217,TRAIN_08217,2013,2006,citroen,c4-picasso,KRA,MAL,161598,1560,0,1,0,0,0,38.87
15563,TRAIN_15563,2013,2011,audi,a7,AYR,SWI,318000,2967,0,1,0,0,0,115.70
32953,TRAIN_32953,2006,2002,opel,meriva,PLO,MAZ,178000,1686,0,1,0,0,0,15.47
4669,TRAIN_04669,2005,2004,mercedes-benz,a-klasa,KAT,SLA,174779,1991,0,1,0,0,0,19.50
42041,TRAIN_42041,2008,2005,volkswagen,passat,WRZ,WIE,140000,1390,0,0,1,0,0,22.62
50838,TRAIN_50838,2012,2007,audi,a4,POZ,WIE,328000,1968,0,1,0,0,0,54.47
3279,TRAIN_03279,2018,2014,opel,corsa,SIO,MAZ,149876,1398,0,0,0,0,1,38.87
14937,TRAIN_14937,2018,2012,seat,leon,LES,WIE,67000,1395,0,0,1,0,0,89.55
50492,TRAIN_50492,2007,2007,mercedes-benz,c-klasa,BRZ,OPO,245000,1796,0,0,1,0,0,35.75
26427,TRAIN_26427,2011,2009,bmw,seria-5,WLW,LUB,240000,2993,0,1,0,0,0,75.27
53643,TRAIN_53643,2015,2008,opel,insignia,MWV,POM,198909,2000,0,1,0,0,0,49.40
51969,TRAIN_51969,2017,2008,ford,fiesta,POZ,WIE,116873,1242,0,0,1,0,0,42.77
9009,TRAIN_09009,2017,2008,opel,insignia,GNI,WIE,84000,1364,0,0,1,0,0,71.37
441,TRAIN_00441,2006,2004,audi,a4,TAR,SLA,219000,1595,0,0,0,0,1,25.35
7362,TRAIN_07362,2008,2007,mercedes-benz,c-klasa,HHW,MAZ,216000,1796,0,0,1,0,0,44.07
4468,TRAIN_04468,2007,2002,opel,vectra,OST,WIE,353000,1910,0,1,0,0,0,16.90
30099,TRAIN_30099,2018,2012,renault,clio,ELB,WAR,135375,1461,0,1,0,0,0,58.37
22756,TRAIN_22756,2010,2007,mercedes-benz,c-klasa,MYJ,WIE,290000,2143,0,1,0,0,0,36.27
27110,TRAIN_27110,2010,2009,opel,astra,KTY,SWI,187000,1686,0,1,0,0,0,28.34

##### 컬렴명 영어로 바꾸기

In [86]:
# df = df.rename(columns={'생산년도':'Year_prd','모델출시년도':'Year_model','브랜드':'Brand','차량모델명':'Model','판매도시':'City','판매구역':'Area'})
# df = df.rename(columns={'주행거리':'Mileage','배기량':'CC','압축천연가스(CNG)':'Fuel_CNG','경유':'Fuel_Diesel','가솔린':'Fuel_Gasoline','하이브리드':'Fuel_Hybrid','액화석유가스(LPG)':'Fuel_LPG','가격':'Price'})
# df

In [87]:
def columns_toENG(Data):
    
    Data = Data.rename(columns={'생산년도':'Year_prd','모델출시년도':'Year_model','브랜드':'Brand','차량모델명':'Model','판매도시':'City','판매구역':'Area'})
    Data = Data.rename(columns={'주행거리':'Mileage','배기량':'CC','압축천연가스(CNG)':'Fuel_CNG','경유':'Fuel_Diesel','가솔린':'Fuel_Gasoline','하이브리드':'Fuel_Hybrid','액화석유가스(LPG)':'Fuel_LPG','가격':'Price'})

    return Data

df = columns_toENG(df)
df

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,mercedes-benz,b-klasa,POZ,WIE,64839,1461,0,1,0,0,0,116.87
57916,TRAIN_57916,2006,2005,opel,zafira,XOK,ZAC,299850,1796,0,0,1,0,0,15.47
57917,TRAIN_57917,2013,2003,fiat,punto,CIE,MAZ,112000,1368,0,0,1,0,0,21.97
57918,TRAIN_57918,2006,2004,opel,astra,ZRI,DOL,189321,1598,0,0,1,0,0,16.77
57919,TRAIN_57919,2005,2004,bmw,seria-1,EIX,SLA,144744,1596,0,0,1,0,0,19.50

##### NAN 값 확인

In [88]:
df.isna().sum()

ID               0
Year_prd         0
Year_model       0
Brand            0
Model            0
City             0
Area             0
Mileage          0
CC               0
Fuel_CNG         0
Fuel_Diesel      0
Fuel_Gasoline    0
Fuel_Hybrid      0
Fuel_LPG         0
Price            0
dtype: int64

##### 중고차 아닌 (Mileage < 200km) 데이터 Drop

In [89]:
# 주행거리가 200km 미만인 데이터 갯수 : 1221개
len(df[df['Mileage']<200])

1221

In [90]:
# 인덱스 파악
newCar_idx = df[df['Mileage']<200].index
newCar_idx

Index([    6,    24,    49,   321,   426,   456,   459,   463,   498,   590,
       ...
       57167, 57339, 57393, 57463, 57470, 57479, 57560, 57653, 57861, 57905],
      dtype='int64', length=1221)

In [91]:
# 원본 데이터 갯수 , 신차 데이터 제외한 갯수
len(df) , len(df.drop(index=newCar_idx))

(57920, 56699)

In [92]:
# Criteria : 중고차 최소 km 기준

def drop_newCar(Data,Criteria):

    print("Before Datasets size : ", len(Data))
    newCar_idx = Data[Data['Mileage']<Criteria].index
    Data = Data.drop(index = newCar_idx)
    print("Delete Datasets size : ",len(newCar_idx))
    print("After Datasets size : ", len(Data))

    return Data

df = drop_newCar(df,200)
df

Before Datasets size :  57920
Delete Datasets size :  1221
After Datasets size :  56699

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,mercedes-benz,b-klasa,POZ,WIE,64839,1461,0,1,0,0,0,116.87
57916,TRAIN_57916,2006,2005,opel,zafira,XOK,ZAC,299850,1796,0,0,1,0,0,15.47
57917,TRAIN_57917,2013,2003,fiat,punto,CIE,MAZ,112000,1368,0,0,1,0,0,21.97
57918,TRAIN_57918,2006,2004,opel,astra,ZRI,DOL,189321,1598,0,0,1,0,0,16.77
57919,TRAIN_57919,2005,2004,bmw,seria-1,EIX,SLA,144744,1596,0,0,1,0,0,19.50

##### X / Y 데이터셋 분할

In [93]:
def split_X_Y(Data):

    X= df.drop(columns=['Price'])
    Y= df['Price']

    return X , Y

X , Y = split_X_Y(df)
X[:5]

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0

In [94]:
Y[:5]

0    51.74
1    41.47
2    17.81
3    18.20
4    17.55
Name: Price, dtype: float64

##### 문자 (Brand, Model, City, Area) 숫자로 Encoding

In [95]:
dict(df.dtypes)

{'ID': dtype('O'),
 'Year_prd': dtype('int64'),
 'Year_model': dtype('int64'),
 'Brand': dtype('O'),
 'Model': dtype('O'),
 'City': dtype('O'),
 'Area': dtype('O'),
 'Mileage': dtype('int64'),
 'CC': dtype('int64'),
 'Fuel_CNG': dtype('int64'),
 'Fuel_Diesel': dtype('int64'),
 'Fuel_Gasoline': dtype('int64'),
 'Fuel_Hybrid': dtype('int64'),
 'Fuel_LPG': dtype('int64'),
 'Price': dtype('float64')}

In [96]:
df.dtypes.values

array([dtype('O'), dtype('int64'), dtype('int64'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('float64')], dtype=object)

In [97]:
# Object 형 (ID 제외) -> Int 형 
def format_features(Data):
    
    from sklearn.preprocessing import LabelEncoder

    Data_dtypes = dict(Data.dtypes)

    for column,dtype in Data_dtypes.items():

        # ID 제외 dtype 이 문자형인 column Label Encoding
        if dtype == 'object':
            if column != 'ID':
                le = LabelEncoder()
                le = le.fit(Data[column])
                print("-------------------------------------------------------")
                print("column : ", column)
                print(le.classes_ )
                Data[column] = le.transform(Data[column])

    return Data

X = format_features(X)
X

-------------------------------------------------------
column :  Brand
['audi' 'bmw' 'citroen' 'fiat' 'ford' 'honda' 'hyundai' 'kia' 'mazda'
 'mercedes-benz' 'mitsubishi' 'nissan' 'opel' 'peugeot' 'renault' 'seat'
 'skoda' 'toyota' 'volkswagen' 'volvo']
-------------------------------------------------------
column :  Model
['2' '3' '3008' '5' '5008' '6' '80' 'a-klasa' 'a3' 'a4' 'a5' 'a6'
 'a6-allroad' 'a7' 'a8' 'accord' 'agila' 'alhambra' 'almera' 'astra'
 'auris' 'avensis' 'aygo' 'b-klasa' 'berlingo' 'bravo' 'c-klasa' 'c-max'
 'c4-picasso' 'c5' 'caddy' 'carens' 'ceed' 'civic' 'cl-klasa' 'clio'
 'clk-klasa' 'cls-klasa' 'colt' 'combo' 'corolla' 'corsa' 'cr-v' 'doblo'
 'e-klasa' 'elantra' 'espace' 'fabia' 'fiesta' 'focus' 'frontera'
 'g-klasa' 'galaxy' 'gl-klasa' 'gle-klasa' 'golf' 'grand-scenic' 'hr-v'
 'i10' 'i20' 'i30' 'ibiza' 'insignia' 'jazz' 'jetta' 'juke' 'ka' 'kangoo'
 'kuga' 'laguna' 'lancer' 'land-cruiser' 'leon' 'm-klasa' 'megane'
 'meriva' 'micra' 'mondeo' 'note' 'octavia' 'omega' 'outlander' 'panda'
 'partner' 'passat' 'patrol' 'picanto' 'polo' 'primera' 'prius' 'punto'
 'q5' 'q7' 'qashqai' 'rav4' 's-klasa' 's-max' 's3' 's40' 's60' 's80'
 'santa-fe' 'scenic' 'seria-1' 'seria-3' 'seria-5' 'seria-6' 'seria-7'
 'sharan' 'sl' 'sorento' 'soul' 'space-star' 'sportage' 'sprinter'
 'superb' 'tigra' 'tiguan' 'tipo' 'toledo' 'touareg' 'touran' 'trafic'
 'transit' 'transit-connect' 'tt' 'tucson' 'twingo' 'v40' 'v60' 'v70'
 'vectra' 'vito' 'x-trail' 'x1' 'x3' 'x4' 'x5' 'x6' 'xc-60' 'xc-90'
 'yaris' 'zafira']
-------------------------------------------------------
column :  City
['AAE' 'AAG' 'AAP' ... 'ZZC' 'ZZG' 'ZZJ']
-------------------------------------------------------
column :  Area
['DOL' 'KUJ' 'LOD' 'LUB' 'LUU' 'MAL' 'MAZ' 'MOR' 'OPO' 'POD' 'POL' 'POM'
 'SLA' 'SWI' 'WAR' 'WIE' 'ZAC']

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG
0,TRAIN_00000,2018,2014,16,47,1214,12,85231,999,0,0,1,0,0
1,TRAIN_00001,2010,2006,17,20,2137,13,135000,1598,0,0,1,0,0
2,TRAIN_00002,2002,2002,9,36,785,15,255223,1796,0,0,1,0,0
3,TRAIN_00003,2006,2001,11,133,546,15,238000,2184,0,1,0,0,0
4,TRAIN_00004,2007,2007,3,25,1839,5,251000,1910,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,9,23,1957,15,64839,1461,0,1,0,0,0
57916,TRAIN_57916,2006,2005,12,142,2941,16,299850,1796,0,0,1,0,0
57917,TRAIN_57917,2013,2003,3,90,287,6,112000,1368,0,0,1,0,0
57918,TRAIN_57918,2006,2004,12,19,3174,0,189321,1598,0,0,1,0,0
57919,TRAIN_57919,2005,2004,1,103,553,12,144744,1596,0,0,1,0,0

##### 데이터 전처리 완료

In [98]:
# X datasets
X

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG
0,TRAIN_00000,2018,2014,16,47,1214,12,85231,999,0,0,1,0,0
1,TRAIN_00001,2010,2006,17,20,2137,13,135000,1598,0,0,1,0,0
2,TRAIN_00002,2002,2002,9,36,785,15,255223,1796,0,0,1,0,0
3,TRAIN_00003,2006,2001,11,133,546,15,238000,2184,0,1,0,0,0
4,TRAIN_00004,2007,2007,3,25,1839,5,251000,1910,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,9,23,1957,15,64839,1461,0,1,0,0,0
57916,TRAIN_57916,2006,2005,12,142,2941,16,299850,1796,0,0,1,0,0
57917,TRAIN_57917,2013,2003,3,90,287,6,112000,1368,0,0,1,0,0
57918,TRAIN_57918,2006,2004,12,19,3174,0,189321,1598,0,0,1,0,0
57919,TRAIN_57919,2005,2004,1,103,553,12,144744,1596,0,0,1,0,0

In [100]:
# Y datatset
Y

0         51.74
1         41.47
2         17.81
3         18.20
4         17.55
          ...
57915    116.87
57916     15.47
57917     21.97
57918     16.77
57919     19.50
Name: Price, Length: 56699, dtype: float64