### DACON(데이콘) 데이콘 Basic 자동차 가격 예측 AI 경진대회

##### 데이터 전처리

In [75]:
import pandas as pd

# train.csv에서 split 하여 모델링
# test.csv는 데이콘 채첨 데이터

df = pd.read_csv('data//train.csv')
df.describe()

,생산년도,모델출시년도,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
count,57920.000000,57920.000000,5.792000e+04,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000
mean,2011.355352,2008.033408,1.678691e+05,1788.160135,0.000483,0.425242,0.517956,0.010290,0.046029,52.211752
std,5.174108,5.087963,8.319120e+04,545.413818,0.021982,0.494384,0.499682,0.100918,0.209550,35.399718
min,1978.000000,1983.000000,1.000000e+00,875.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.170000
25%,2008.000000,2004.000000,1.114345e+05,1461.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.570000
50%,2011.000000,2008.000000,1.710000e+05,1753.000000,0.000000,0.000000,1.000000,0.000000,0.000000,42.250000
75%,2016.000000,2012.000000,2.200000e+05,1995.000000,0.000000,1.000000,1.000000,0.000000,0.000000,73.970000
max,2022.000000,2021.000000,2.500000e+06,6300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,156.000000

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57920 entries, 0 to 57919
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           57920 non-null  object
 1   생산년도         57920 non-null  int64
 2   모델출시년도       57920 non-null  int64
 3   브랜드          57920 non-null  object
 4   차량모델명        57920 non-null  object
 5   판매도시         57920 non-null  object
 6   판매구역         57920 non-null  object
 7   주행거리         57920 non-null  int64
 8   배기량          57920 non-null  int64
 9   압축천연가스(CNG)  57920 non-null  int64
 10  경유           57920 non-null  int64
 11  가솔린          57920 non-null  int64
 12  하이브리드        57920 non-null  int64
 13  액화석유가스(LPG)  57920 non-null  int64
 14  가격           57920 non-null  float64
dtypes: float64(1), int64(9), object(5)
memory usage: 6.6+ MB

In [63]:
df.sample(20)

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
29025,TRAIN_29025,2002,1998,bmw,seria-3,SYV,WIE,231000,2171,0,0,1,0,0,11.44
42086,TRAIN_42086,2011,2008,opel,insignia,XFV,WAR,176633,1598,0,0,0,0,1,38.87
37456,TRAIN_37456,2006,2002,seat,ibiza,LUB,LUB,222200,1390,0,0,1,0,0,11.55
21988,TRAIN_21988,2017,2015,opel,astra,LOD,LOD,22812,1399,0,0,1,0,0,80.60
12582,TRAIN_12582,2009,2004,audi,a6,RND,WIE,377000,2967,0,1,0,0,0,41.47
5489,TRAIN_05489,2000,2000,opel,corsa,SGA,POD,181000,1199,0,0,1,0,0,8.19
6032,TRAIN_06032,2018,2016,fiat,tipo,PIL,WIE,13117,1598,0,1,0,0,0,58.50
26389,TRAIN_26389,2009,2008,volvo,xc-60,JAS,POD,290000,2400,0,1,0,0,0,57.07
41253,TRAIN_41253,2014,2012,toyota,rav4,WAG,WIE,151715,1998,0,1,0,0,0,86.45
53478,TRAIN_53478,2017,2012,audi,a3,NUK,ZAC,43711,1968,0,1,0,0,0,123.50
51521,TRAIN_51521,2009,2009,peugeot,5008,GOL,ZAC,166000,1598,0,0,1,0,0,28.47
7150,TRAIN_07150,2010,2008,volkswagen,golf,WTN,ZAC,167000,1197,0,0,1,0,0,28.47
50618,TRAIN_50618,2016,2014,opel,corsa,WAG,WIE,83000,1398,0,0,1,0,0,51.87
14200,TRAIN_14200,2013,2008,honda,jazz,RAD,MAZ,71000,1339,0,0,1,0,0,44.07
22513,TRAIN_22513,2006,2003,mazda,3,UOT,MAZ,270000,1598,0,0,1,0,0,9.23
48915,TRAIN_48915,2017,2012,renault,clio,PNI,WIE,79500,1461,0,1,0,0,0,53.30
5072,TRAIN_05072,2012,2010,kia,sportage,WAR,MAZ,85138,1591,0,0,1,0,0,73.97
52980,TRAIN_52980,2009,2007,mazda,6,CZE,SLA,220810,1998,0,1,0,0,0,25.87
53853,TRAIN_53853,2007,2004,audi,a6,RZE,POD,410000,2967,0,1,0,0,0,27.30
55301,TRAIN_55301,2012,2007,audi,a4,KIE,SWI,170000,1968,0,1,0,0,0,60.19

##### 컬렴명 영어로 바꾸기

In [64]:
# df = df.rename(columns={'생산년도':'Year_prd','모델출시년도':'Year_model','브랜드':'Brand','차량모델명':'Model','판매도시':'City','판매구역':'Area'})
# df = df.rename(columns={'주행거리':'Mileage','배기량':'CC','압축천연가스(CNG)':'Fuel_CNG','경유':'Fuel_Diesel','가솔린':'Fuel_Gasoline','하이브리드':'Fuel_Hybrid','액화석유가스(LPG)':'Fuel_LPG','가격':'Price'})
# df

In [65]:
def columns_toENG(Data):
    
    Data = Data.rename(columns={'생산년도':'Year_prd','모델출시년도':'Year_model','브랜드':'Brand','차량모델명':'Model','판매도시':'City','판매구역':'Area'})
    Data = Data.rename(columns={'주행거리':'Mileage','배기량':'CC','압축천연가스(CNG)':'Fuel_CNG','경유':'Fuel_Diesel','가솔린':'Fuel_Gasoline','하이브리드':'Fuel_Hybrid','액화석유가스(LPG)':'Fuel_LPG','가격':'Price'})

    return Data

df = columns_toENG(df)
df

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,mercedes-benz,b-klasa,POZ,WIE,64839,1461,0,1,0,0,0,116.87
57916,TRAIN_57916,2006,2005,opel,zafira,XOK,ZAC,299850,1796,0,0,1,0,0,15.47
57917,TRAIN_57917,2013,2003,fiat,punto,CIE,MAZ,112000,1368,0,0,1,0,0,21.97
57918,TRAIN_57918,2006,2004,opel,astra,ZRI,DOL,189321,1598,0,0,1,0,0,16.77
57919,TRAIN_57919,2005,2004,bmw,seria-1,EIX,SLA,144744,1596,0,0,1,0,0,19.50

##### NAN 값 확인

In [66]:
df.isna().sum()

ID               0
Year_prd         0
Year_model       0
Brand            0
Model            0
City             0
Area             0
Mileage          0
CC               0
Fuel_CNG         0
Fuel_Diesel      0
Fuel_Gasoline    0
Fuel_Hybrid      0
Fuel_LPG         0
Price            0
dtype: int64

##### 중고차 아닌 (Mileage < 200km) 데이터 Drop

In [67]:
# 주행거리가 200km 미만인 데이터 갯수 : 1221개
len(df[df['Mileage']<200])

1221

In [68]:
# 인덱스 파악
newCar_idx = df[df['Mileage']<200].index
newCar_idx

Index([    6,    24,    49,   321,   426,   456,   459,   463,   498,   590,
       ...
       57167, 57339, 57393, 57463, 57470, 57479, 57560, 57653, 57861, 57905],
      dtype='int64', length=1221)

In [69]:
# 원본 데이터 갯수 , 신차 데이터 제외한 갯수
len(df) , len(df.drop(index=newCar_idx))

(57920, 56699)

In [70]:
# Criteria : 중고차 최소 km 기준

def drop_newCar(Data,Criteria):

    print("Before Datasets size : ", len(Data))
    newCar_idx = Data[Data['Mileage']<Criteria].index
    Data = Data.drop(index = newCar_idx)
    print("Delete Datasets size : ",len(newCar_idx))
    print("After Datasets size : ", len(Data))

    return Data

df = drop_newCar(df,200)
df

Before Datasets size :  57920
Delete Datasets size :  1221
After Datasets size :  56699

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,mercedes-benz,b-klasa,POZ,WIE,64839,1461,0,1,0,0,0,116.87
57916,TRAIN_57916,2006,2005,opel,zafira,XOK,ZAC,299850,1796,0,0,1,0,0,15.47
57917,TRAIN_57917,2013,2003,fiat,punto,CIE,MAZ,112000,1368,0,0,1,0,0,21.97
57918,TRAIN_57918,2006,2004,opel,astra,ZRI,DOL,189321,1598,0,0,1,0,0,16.77
57919,TRAIN_57919,2005,2004,bmw,seria-1,EIX,SLA,144744,1596,0,0,1,0,0,19.50

##### X / Y 데이터셋 분할

In [73]:
def split_X_Y(Data):

    X= df.drop(columns=['Price'])
    Y= df['Price']

    return X , Y

X , Y = split_X_Y(df)
X[:5]

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0

In [74]:
Y[:5]

0    51.74
1    41.47
2    17.81
3    18.20
4    17.55
Name: Price, dtype: float64

##### 문자 (Brand, Model, City, Area) 숫자로 Encoding

In [ ]:
# Object 형 (ID 제외) -> Int 형 
def format_features(Data)
    
    Data_dtypes = dict(Data.dtypes)

    for k,v in Data_dtypes.items():
        if k

In [80]:
dict(df.dtypes)

{'ID': dtype('O'),
 '생산년도': dtype('int64'),
 '모델출시년도': dtype('int64'),
 '브랜드': dtype('O'),
 '차량모델명': dtype('O'),
 '판매도시': dtype('O'),
 '판매구역': dtype('O'),
 '주행거리': dtype('int64'),
 '배기량': dtype('int64'),
 '압축천연가스(CNG)': dtype('int64'),
 '경유': dtype('int64'),
 '가솔린': dtype('int64'),
 '하이브리드': dtype('int64'),
 '액화석유가스(LPG)': dtype('int64'),
 '가격': dtype('float64')}

In [78]:
df.dtypes.values

array([dtype('O'), dtype('int64'), dtype('int64'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('float64')], dtype=object)